<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="description" content="A simple web tool for text transformations designed to work with keyboard shortcuts.">
    <meta name="keywords" content="uppercase,lowercase,pascalcase,camelcase,text transformation, text casing">
    <meta name="author" content="Oded Welgreen">
    <meta name="title" content"caseIt | For all of your casing needs">
    <title>@ViewBag.Title</title>
    @*<link rel="SHORTCUT ICON" href="@Url.Content("~/Content/Images/favicon.ico")"/>*@
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    @Html.Partial("ExternalAnalytics")
</head>
<body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=298376936949543";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    @RenderBody()
    
    @Scripts.Render(
        "~/bundles/jquery",
//            "~/bundles/jqueryui",
        "~/bundles/jsextlibs",
        "~/Scripts/lib/require.js",
        "~/bundles/jsapplibs"
         )

    @RenderSection("scripts", required: false)

</body>
</html>
